<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{if .Nombre}}
USUARIO {{.UserName}}<br>
NOMBRE {{.Nombre}}<br>
APELLIDO {{.Apellido}}<br>
{{else}}
<h2><a href="/signup">sign up</a></h2>
{{end}}

<br>
<h2>Ir a <a href="/bar">Bar</a></h2>
</body>
</html>