<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</title>
</head>
<body>

<h1>{{.Nombre}}</h1>
<h2>{{.Edad}}</h2>
<h3>{{.SomeProcessing}}</h3>
<h3>{{.AgeDbl}}</h3>
<h3>{{.Edad | .TakesArg}}</h3>
<h3>{{.AgeDbl | .TakesArg}}</h3>
</body>
</html>