<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>funciones globales predefinidas</title>
</head>
<body>

{{if gt .Puntuacion1 .Puntuacion2}}
PUNTUACION 1 > PUNTUACION 2
{{end}}

{{if lt .Puntuacion1 .Puntuacion2}}
PUNTUACION 1 < PUNTUACION 2
{{end}}

{{if eq .Puntuacion1 .Puntuacion2}}
PUNTUACION 1 = PUNTUACION 2
{{end}}

{{if lt .Puntuacion1 10}}
ULTIMA: PUNTUACION 1 < 10
{{end}}

<!-- Revisar readme.txt -->
</body>
</html>