<!DOCTYPE html>
<html lang="en">
{{template "head"}}

<body>
    {{template "sidebar"}}

    <form action="/config/actions_response/add" method="GET">
 
        <div class="form-group">
            <label>Response (Respuesta)</label>
            <input placeholder="Respuesta de la Action" name="Response" type="text" />
        </div>
        <input name="ActionID" type="hidden" value="{{.Action.ID}}">
        <div class="form-group">
                <button class="button success">Agregar Respuesta</button>
                <a class="button primary" href="/config/actions">Actions</a>

            </div>
    </form>

    <table class="table compact">
        <thead>
            <tr>
                <th>ID (Identificador)</th>
                <th>Response</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {{range .Elements}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Response}}</td>
                <td>
                    <a href="/config/actions_response/delete/{{.ID}}?action_id={{.ActionID}}" class="button alert">Eliminar</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{template "scripts"}}
</body>

</html>


