<!DOCTYPE html>
<html lang="es">
{{template "head"}}

<body>
    <style>
        body {
            overflow: hidden;
        }
    </style>
    <ul class="v-menu">
        <li class="menu-title">Estado</li>
        <li><a><span class="mif-apps icon"></span>
                <div id="estado">En espera</div>
            </a></li>
        <li class="menu-title">Salida</li>
        <li><a><span class="mif-bubble icon"></span>
                <div id="salida"></div>
            </a></li>
        <li class="menu-title">Respuesta</li>
        <li><a><span class="mif-record_voice_over icon"></span>
                <div id="respid"></div>
            </a></li>
        <li class="menu-title">Ultimo Comando</li>
        <li><a><span class="mif-cloud icon"></span>
                <div id="comand"></div>
            </a></li>
        <li class="menu-title"></li>
    </ul>
    <video id="videoid">
        <source id="sourceid" type="audio/mp3">
    </video>
    <div class="bottom-nav pos-absolute">
        <button onclick="StartSpeech()" disabled id="EscucharButton" class="button">
            <span class="icon mif-spinner5"></span>
            <span class="label">Escuchar</span>
        </button>
        <button onclick="StopSpeech()" disabled id="DetenerButton" class="button">
            <span class="icon mif-pause"></span>
            <span class="label">Detener</span>
        </button>
        <button onclick="StopGUI()" class="button">
            <span class="icon mif-cancel"></span>
            <span class="label">Cerrar</span>
        </button>
    </div>
    {{template "scripts"}}
    <script>
        function GetSpeech() {
            window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
            let recognition = new window.SpeechRecognition();
            recognition.interimResults = true;
            recognition.maxAlternatives = 10;
            recognition.continuous = true;
            return recognition;
        }
        let source = document.getElementById("sourceid");
        let video = document.getElementById("videoid");
        let respuesta = document.getElementById("respid");
        let estado = document.getElementById("estado");
        let salida = document.getElementById("salida");
        let escucharButton = document.getElementById("EscucharButton")
        let detenerButton = document.getElementById("DetenerButton")

        function Emviar(dt) {
            document.getElementById("comand").innerText = dt;
            speech(dt).then(resp => {
                respuesta.innerText = resp[0];
                source.src = "data:audio/ogg;base64," + resp[1]
                video.load();
                setTimeout(() => {
                    video.play().then(() => {

                    }).catch((err) => {

                    });
                }, 200)

            }).catch((err) => {
                respuesta.innerHTML = `Err: ${err}`;
            })
        }
        let recognition = GetSpeech()
        recognition.onresult = (event) => {
            let interimTranscript = '';
            for (let i = event.resultIndex, len = event.results.length; i < len; i++) {
                let transcript = event.results[i][0].transcript;
                if (event.results[i].isFinal) {
                    Emviar(transcript);
                } else {
                    interimTranscript += transcript;
                    salida.innerText = interimTranscript;
                }
            }
        }
        recognition.onend = recognition.onerror = (event) => {
            escucharButton.disabled = false;
            detenerButton.disabled = true;
            salida.innerText = "";
            estado.innerText = "Detenido";
        }
        recognition.onstart = (event) => {
            estado.innerText = "Escuchando";
            salida.innerText = "";
            escucharButton.disabled = true;
            detenerButton.disabled = false;
        }
        recognition.onerror = (event) => {
            estado.innerText = "Error ";
        }
        function StartSpeech() {
            estado.innerText = "Iniciado"
            recognition.start();
        }
        function StopSpeech() {
            recognition.stop();
        }
        StartSpeech()
    </script>
</body>

</html>