<!DOCTYPE html>
<html lang="en">
{{template "head"}}

<body>
    {{template "sidebar"}}

    

    <form action="/config/group_keys/add-api" method="GET">
        <div class="form-group">
            <button class="button success">Guardar</button>
            <a class="button primary" href="/config/keywords">Nuevo Keyword?</a>
        </div>
        <div class="form-group">
            <select name="KeyWordsIDS" data-role="select" multiple data-cls-option="fg-cyan"
                data-cls-selected-item="bg-teal fg-white" data-cls-selected-item-remover="bg-darkTeal fg-white">
                {{range .KeyWords}}
                <option value="{{.ID}}" data-template="<span class='mif-github icon'></span> $1">{{.Key}}</option>
                {{end}}
            </select>
        </div>
        <input name="ActionID" type="hidden" value="{{.ActionID}}">
    </form>

    <table class="table compact">
        <thead>
            <tr>
                <th>#</th>
                <th>KeyWords</th>
                <th>Opt</th>
            </tr>
        </thead>
        <tbody>
            {{range .Elements}}
            <tr>
                <td>{{.ID}}</td>
                <td>
                    {{range .KeywordGroups}}
                    [{{.KeyWord.Key}}]
                    {{end}}
                </td>
                <td>
                    <a href="/config/group_keys/delete/{{.ID}}?action_id={{.ActionID}}" class="button alert">Eliminar</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{template "scripts"}}
</body>

</html>