<!DOCTYPE html>
<html lang="en">
{{template "head"}}

<body>
    {{template "sidebar"}}
    <form action="/config/keywords/add" method="GET">
        <div class="form-group">
            <label>KeyWords</label>
            <input name="Key" type="text" placeholder="Key" />
            <small class="text-muted">Palabra Clave</small>
        </div>
        <div class="form-group">
            <button class="button success">Agregar</button>
            <a class="button primary" href="/config/actions">Nuevo Action?</a>

        </div>
    </form>
    <table class="table compact">
        <thead>
            <tr>
                <th>ID (Identificador)</th>
                <th>KeyWords (Palabra Clave)</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {{range .KeyWords}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Key}}</td>
                <td>
                    <a href="/config/keywords/edit/{{.ID}}" class="button primary">Editar</a>
                    <a href="/config/keywords/delete/{{.ID}}" class="button alert">Eliminar</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{template "scripts"}}
</body>

</html>