{{define "header"}}
<header>
    <nav>
        <button>
            <svg class="icon icon-sm-in">
                <use xlink:href="#inbox"></use>
            </svg>
        </button>
        <button>Recibido</button>
        <button>Enviado</button>
        <button>Reciclado</button>
    </nav>
    <button>Configuracion</button>
</header>
{{end}}