<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header Top Menu</title>
    <link rel="stylesheet" href="public/main.css">
</head>
<body>

{{template "svgs"}}

{{template "header"}}

<div id="atf">
    <main>
        <svg class="icon icon-big-in">
            <use xlink:href="#inbox"></use>
        </svg>
        <h1>Estoy en?</h1>
    </main>
</div>

{{template "btf"}}

{{template "footer"}}