<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<ul>
    {{range .}}
    <li>{{.}}</li>{{else}}

    <li>Sin elementos</li>
    {{end}}
</ul>
</body>
</html>