<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</title>
</head>
<body>

<h1>{{.Nombre}}</h1>
<h2>{{.Edad}}</h2>
{{if .LicenciaMatar}}
<h3>Licencia para matar</h3>
{{else}}
<h3>Licencia de enfermo</h3>
{{end}}
</body>
</html>