<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form method="post">

    <input type="email" name="username" placeholder="email"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="text" name="nombre" placeholder="nombre"><br>
    <input type="text" name="apellido" placeholder="apellido"><br>
    <input type="submit">

</form>

</body>
</html>