Package: go-asisten
Version: 1.2.7-2
Architecture: amd64
Maintainer: Andrus Diaz <andrusdiazaleman@gmail.com>
Depends: google-chrome-stable
Installed-Size: 36539067
Homepage: https://gitlab.com/AndrusGerman/go-asisten-builder
Description: GoAsisten is here
Section: web
Priority: optional
