<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BAR</title>
</head>
<body>

<h1>Bienvenido a bar</h1>

{{if .Nombre}}
USUARIO {{.UserName}}<br>
PASSWORD {{.Password}}<br>
NOMBRE {{.Nombre}}<br>
APELLIDO {{.Apellido}}<br>
{{end}}

</body>
</html>