<div>
    <div>
        <p>Editar producto</p>
    </div>
    <div>
        <form [formGroup]="productEditForm" (ngSubmit)="onEdit()">
            <div>
                <div class="product-code-contanier">
                    <mat-form-field class="product-code">
                        <input matInput placeholder="Código producto" formControlName="productCode">
                    </mat-form-field>
                </div>
                <div class="product-name-contanier">
                    <mat-form-field class="product-name">
                        <input matInput placeholder="Nombre producto" formControlName="productName">
                    </mat-form-field>
                </div>
                <div class="product-description-contanier">
                    <mat-form-field class="product-description">
                        <input matInput placeholder="Descripción" formControlName="description">
                    </mat-form-field>
                </div>
                <div class="standard-cost-contanier">
                    <mat-form-field class="standard-cost">
                        <input type="number" matInput placeholder="Costo estándar" formControlName="standardCost">
                    </mat-form-field>
                </div>
                <div class="list-price-contanier">
                    <mat-form-field class="list-price">
                        <input type="number" matInput placeholder="Precio de lista" formControlName="listPrice">
                    </mat-form-field>
                </div>
            </div>
            <div>

            </div>
        </form>
    </div>
</div>