<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form method="post">

    <input type="email" name="username" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="text" name="nombre" placeholder="nombre"><br>
    <input type="text" name="apellido" placeholder="apellido"><br>
    <label for="sr">Role</label>
    <select name="role" id="sr">
        <option value="user">user</option>
        <option value="admin">admin</option>
        <option value="007">007</option>
    </select>
    <input type="submit">

</form>

</body>
</html>