 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sabiduría y transporte</title>
</head>
<body>

<ul>
    {{range .Sabiduria}}
    <li>{{.Nombre}} - {{.Lema}}</li>
    {{end}}
</ul>

<ul>
    {{range .Transporte}}
    <li>{{.Fabricante}} - {{.Modelo}} - {{.Puertas}}</li>
    {{end}}
</ul>

</body>
</html>