.order-id{
    display: flex;
    font-weight: bold;
}

.order-container{
    display: flex;
    flex-direction: row;
    .search-container{
        width: 15%;
        display: flex;
        margin-right: 1%;
    }
    .result-container{
        width: 84%;
    }
}