<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

{{range .Sabiduria}}
{{uc .Nombre}}
{{end}}


{{range .Sabiduria}}
{{ft .Nombre}}
{{end}}

</body>
</html>