<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{.Otonio.Temporada}}<br>
{{range .Otonio.Cursos}}
{{.Numero}} - {{.Nombre}} - {{.Unidades}}<br>
{{end}}


{{.Primavera.Temporada}}<br>
{{range .Primavera.Cursos}}
{{.Numero}} - {{.Nombre}} - {{.Unidades}}<br>
{{end}}

</body>
</html>